<!DOCTYPE html>
    <html lang="ru" dir="ltr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>massage</title>
        <link rel="stylesheet" href="css/massage.css">
        <script src="js/massage.js"></script>
    </head>
    <body>
        <div id="main">
            <div class="leftpanel_block">
                <div class="leftpanel_block_profileImg"><input type="file" class="userImg"  accept="image/*" onchange="killme(this)"></input></div>
                <div class="leftpanel_block_exit"><a class="exitLink" href="loginscreen.html"><img class="exitImg" src="img/exit.png"></img></a></div>
            </div>
            <div class="friendbar">
                <div class="q1">Ваши друзья:</div>
    
                
                <span class="friendList" th:each="el: ${friends}">
                    <div><img th:src="${el.img}"><a th:href="${el.link}" th:text="${el.name}"></a></div>
                </span>
                <div class="q2" onclick="search()"><a>Добавить друга</a></div>
            </div>
            
        </div>
        <div class="search" id="search">
            <form id="searchForm">
                <input class="q3" type="text" placeholder="Введите имя" required>
                <textarea class="q4" placeholder="Введите приветствие"></textarea>
                <button class="q5" type="submit">Отправить</button>
            </form>
        </div>



    </body>
</html>